<h1>Listing newcitymeteos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Temperature</th>
      <th>Summary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newcitymeteos.each do |newcitymeteo| %>
      <tr>
        <td><%= newcitymeteo.name %></td>
        <td><%= newcitymeteo.lat %></td>
        <td><%= newcitymeteo.lon %></td>
        <td><%= newcitymeteo.temperature %></td>
        <td><%= newcitymeteo.summary %></td>
        <td><%= link_to 'Show', newcitymeteo %></td>
        <td><%= link_to 'Edit', edit_newcitymeteo_path(newcitymeteo) %></td>
        <td><%= link_to 'Destroy', newcitymeteo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newcitymeteo', new_newcitymeteo_path %>
