<h1>New cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Long</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.lat %></td>
        <td><%= city.long %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
<style>

  h1 {
    color:white;
    font-family: "Times New Roman", Times, serif;
    font-size: 250%;
    color:#ff6600;
  }
  body{
    color:white;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
  }
table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
   
}

th {
    height: 50px;
}
 
</style>
