<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
  <strong>Lat:</strong>
  <%= @city.lat %>
    <strong>Lon:</strong>
  <%= @city.long %>
</p>

<strong>Weather:</strong>
  <%= @weather[:summary] %>
</p>

<strong>Temperature :</strong>
  <%=  @weather[:current_temp] %>
<strong> °C </strong>
</p>

<strong> WindSpeed: </strong>
  <%=  @weather[:current_wind] %>
<strong> km/h </strong>
</p>

<strong> ICON :</strong>
  <%=  @weather[:icon] %>
</p>

<%= button_to edit_city_path(@city),method: :get, class: 'btn btn-default btn-lg' do %>
              <i class="glyphicon glyphicon-pencil"></i> Edit
<% end %>
<%= button_to cities_path, method: :get, class: 'btn btn-default btn-lg' do %>
              <i class="glyphicon glyphicon-triangle-left"></i> Back
<% end %>
